<body>
  {{!-- navigation --}}
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Movie List</a>
    </div>
  </nav>
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}
</body>