<body>
  {{!-- navigation --}}
  <nav class="navbar navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Movie List</a>
    </div>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  </nav>
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}
  <script src="/javascripts/jquery-3.6.0.min.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>